@import "tailwindcss";

@theme {
  --color-brand-50: #f0f7fb;
  --color-brand-100: #e0eff7;
  --color-brand-200: #b9dcef;
  --color-brand-300: #7cbfe3;
  --color-brand-400: #389fd4;
  --color-brand-500: #0280c9;
  --color-brand-600: #0267a4;
  --color-brand-700: #025283;
  --color-brand-800: #06466d;
  --color-brand-900: #0a3c5b;
  --color-brand-950: #07263d;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
